@media (min-width: 370px) and (max-width: 767px){
  .section-qsn{
    .bouton-action{
      .btn-active{
        .modal-active{
          h3{
            font-size: 1.7em!important;
          }
        }
      }
    }
  }

}
@media (max-width: 370px){
  .opening-animation{
    align-items: center;
    height: 20%!important;
  }

  #services{
   .container-margin{

   }
   .car-block{

    .orange{

    }
    .content{

     h2{
      font-size: 0.8em!important;
    }
  }

}
}
}

@media (max-width: 767px){


/*** SECTION PRESENTATION ***/

// NAVBAR START
.navbar{
  z-index: 9!important;
  .navbar-collapse.collapse{
    height: auto;
  }

  .navbar-header{
    .navbar-brand{
      #brand{
        margin-top: -6vh;
        margin-left: 17vw;
        width: 40vw;
      }
    }
  }
}

.navbar-default{
  .navbar-toggle:focus{
    background-color: transparent;
  }
  .navbar-toggle:hover{
    background-color: transparent;
  }
  .navbar-toggle:active{
    background-color: transparent;
  }

}

#icon-bar{
  background-image: url(../img/menu.png);
  width: 24px;
  height: 24px;

}

.close-menu{
  background-image: url(../img/cancel.png)!important;
  width: 22px!important;
  height: 22px!important;
  background-size: contain;
}
// NAVBAR END

// OPENING SENTENCE START


.quotes{
  height: 100%;
}

.quote{
  height: 4vh;
}

.title{
  width: 64%!important;
  letter-spacing: 0!important;
  font-weight: normal!important;
}

h1{
  font-size: 1.3em!important;
}

// OPENING SENTENCE END

// MODAL START
#presentation{

  .section-qsn{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    justify-content: center;
    .bouton-action{
      .bouton{
        margin-bottom: 17vh;
        width: 15em;
      }
      .btn-active{
        height: 100vh;
        width: 100vw!important;
        margin-bottom: 0vh!important;
        background-image: url(../img/motif_orange_mobile.jpg)!important;
      }
    }
  }
}
.sq-zindex{
  z-index: 99!important;
}
// MODAL END

/*** SECTION SERVICES ***/
#services{
 background: none!important;
 .container-margin{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#service1, #service2, #service3, #service4{
  position: relative;
}

.car-block{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  // .transbox{
  //   visibility: visible;
  //   opacity: 0.6;
  // }
  .orange{
    height: 25vh;
    background-size: cover!important;
    background-repeat: no-repeat;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);



  }
  .content{
    visibility: visible;
    color: white;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .orange:hover{
      transform: scale(1);
    }
  }
}

// IMAGES MOBILE

.img-vente-mobile{
 background-image: url(../img/vente.jpg);
}

.img-reparation-mobile{
  background-image: url(../img/reparation.jpg);
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

.img-location-mobile{
background-image: url(../img/location.jpg);
filter: brightness(40%);
-webkit-filter: brightness(40%);
}

.img-pneumatique-mobile{
background-image: url(../img/pneumatique.jpg);
filter: brightness(40%);
-webkit-filter: brightness(40%);
}


.car-transform{
  filter: brightness(100%)!important;
  -webkit-filter: brightness(100%)!important;

}
.content-transform{
  visibility: hidden!important;
}


.toggle-service{
  display: flex!important;
}

.block-below{
  width: 100%;
  height: 0%;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  display: none;

  .img-slide{
    height: 25vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-slide{
   position: relative;
   background-color: $white;
   width: 100%;
   display: flex;
   flex-direction: column;

   .close-block-slide{
    background-image: url(../img/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
  }
  .slide-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin-top: -15px;
    img{
      width: 70%;
      height: auto;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .overflowscroll{
      padding-right: 15px;
      padding-left: 15px;
      // margin-top: -15px;

      p{
        text-align: justify;
        line-height: 1.2em;
      }
    }

    a{
      button{
        background-color: $orange;
        color: $white;
        border: none;
        width: 100%;
        height: 2.5em;
        margin-top: 10%;
        margin-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
      }

    }


  }

}
}

/*** SECTION CONTACT ***/

#infos{
  background: none!important;
  .container-contact{
    width: 100%!important;
    height: auto!important;
    .row{
      width: 100%;
      margin-left: 0!important;
      margin-right: 0!important;
      margin-bottom: 15px;
      .contact{
        width: 100%!important;
        .contact-title{
          width: 100%;
          h3{
            font-size: 2em!important;
            padding-bottom: 5px;
          }
        }
        .contact-phone a p{
          font-size: 1.4em;
          margin-bottom: .7em!important;
        }
      }
    }
  }


  .container-social{
    margin-bottom: 5vh;
  }
  .container-social #social-center{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .container-social img{
    height: 6vh!important;
  }

}

}

