@import 'src/sass/colors';
@import 'src/sass/mobile';

@font-face {
  font-family: 'Helvetica Neue LT Std 45 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 45 Light'), url('../fonts/helvetica-neue.woff') format('woff');
}

// LOADER START

.loader {
  position : fixed;
  z-index: 99;
  background: url(../img/Motif_gris.jpg) no-repeat;
  background-size: cover;
  top : 0px;
  left : 0px;
  height : 100%;
  width : 100%;
  cursor : wait;
}

#myProgress {
  position: absolute;
  z-index: 99;
  top: 35%;
  left: 37.5% ;
  background-image: url(../img/logoblanc_3smotors.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  // width: 18vw;
}

#myBar {
  width: 1%;
  height: 100%;
  overflow: hidden;
  img{
    height: auto;
    // width: 18vw;
  }
}



#percentage{
  background-color: transparent;
  border: none;
  color: $orange;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-left: 2.5vw;
}

@media (min-width: 800px){
  #myProgress{
    width: 18vw;
  }
  #myBar{
    img{
      width: 18vw;
    }
  }
}

@media (max-width: 800px) and (min-width: 767px){
  #myProgress{
    width: 20vw;
    left: 35% ;
  }
  #myBar{
    img{
      width: 20vw;
    }
  }
}

@media (max-width: 766px){
    #myProgress{
    width: 30vw;
    left: 30% ;
  }
  #myBar{
    img{
      width: 30vw;
    }
  }
}


.transparent{
  background: transparent!important;
  transition: background .2s linear;
}

// LOADER END


// CUSTOM GENERAL START

body{
  width: 100%;
  margin: 0;
  font-family: 'Helvetica Neue LT Std 45 Light';
  font-size: 1em;
  background-color: $gris;
}

#content{
  opacity: 0;
}


section{
  height: 100vh!important;
  overflow: hidden!important;
  // display: none;
}


a{
  text-decoration: none!important;
}

// NAVBAR

.navbar{
  opacity: 0;
  z-index: 90;
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  background-color: transparent;
  border: none;
  transition: top .3s linear;
}

@media (min-width: 1200px) {
  .colored-container {
    width: 90%;
  }
}
.nav-position{
  top: 0;
  transition: top .3s linear;
}

.colored-container{
  background-color: #fff;
}

#brand{
  height: auto;
  width: 18vw;
  margin-top: -10vh;
  margin-left: 8vw;
}

@media (max-width: 800px) and (min-width: 767px){
  #brand{
    width: 20vw;
    margin-top: -4vh;
    margin-left: 4vw;
  }
}

.navbar-collapse.collapse{
  height: 5vh;
}

@media (min-width: 768px){
  .navbar-nav {
    float: right;
    margin-right: 2%;
    li{
      margin: 15px 4vw;
      border-left: 1px solid rgba(241,149,0,0.6);
      border-right: 1px solid rgba(241,149,0,0.6);
      a{
        padding: 0;
        p{
          padding: 5px 15px;
          color: rgba(241,149,0,0.6);
        }
      }
      // a:hover{
      //   p{
      //     color:$orange!important;
      //     font-weight: bolder;
      //   }
      // }
    }
  }


  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    margin: 0 -30px;
    p{
      color: $orange!important;
    }
  }

  .navbar-default .navbar-nav>.active , .navbar-default .navbar-nav>.active>a:focus li, .navbar-default .navbar-nav>.active>a:hover li{
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    color: $orange;
    border-left: none;
    border-right: none;
    font-weight: bold;
    margin: 15px 7.5vw;
  }

}

@media (min-width: 2000px){
  .navbar-nav {
    margin-right: 3%;
  }
  #brand{
    width: 18vw;
    margin-top: -10.5vh;
  }
}

@media (min-width: 768px) and (max-width: 2000px){
  .navbar-nav {
    margin-right: 2%;
  }
}

// SECTION ACCUEIL #1 START

#presentation{
  background-color: $gris;
  position: relative;
  display: flex;
    justify-content: center;
}

h1{
  color: black;
  font-size: 1.8em;
}

h3{
  font-weight: normal;
}

// SENTENCE BETWEEN QUOTES

.quote{
  font-size: 6em;
}

#fadewithoutloader, #fadeinleft, .sentence{
  width: 100%;
  position: relative;
  z-index: 1;

  hr{
    border: 1px solid orange;
    width: 12vw;
    margin-left: 53%;
  }
  #author{
    position: absolute;
    z-index: 0;
    right: 58.5vw;
    bottom: 0;
    opacity: 0;
    margin-right: -40vh;
    font-size: 1.5em;
    font-style: italic;
  }
}

@media (min-width: 1200px) and (max-width: 2000px){
  #fadewithoutloader, #fadeinleft, .sentence{
    #author{
      right: 65vw;
    }
  }
}

@media (min-width: 2000px){
  #fadewithoutloader, #fadeinleft, .sentence{
    #author{
      right: 60vw;
    }
  }
  .opening-animation{
    height: 6%!important;
  }
}

@media (max-width: 768px){
  #fadewithoutloader, #fadeinleft, .sentence{
    #author{
      right: 100vw;
    }
  }
}

#fadewithoutloader, #fadeinleft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sentence{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  text-align: justify;
  width: 30%;
  letter-spacing: 1.06px;
  background-color: $gris;
}

.opening-animation{
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#opening, #openingwithoutloader{
  background-color: transparent;
  width: 0%;
  display: flex;
  justify-content: space-between;
}

.quotes{
  background-color: $gris;
  width: 50%;
}

.quote-left{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  left: 0;
}

.quote-right{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  right: 0;
}


// @media (max-width: 767px){
//   .title{
//     width: 40%;
//   }

// }

// BOUTON > MODAL

.section-qsn{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
  height: 65%;
  top: 20vh;
  right: 12.5%;
  margin: 0 auto;

  .bouton-action{
    .bouton{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 20em;
      height: 2.5em;
      cursor: pointer;
      background-color: $orange;
      color: white;
      transition: height .5s ease-in-out, width .5s ease-in-out, opacity ease-in-out;
      h2{
        font-size: 1em;
        transition: font-size .5s linear;
      }
      .modal-content{
        position: absolute;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        background-color: $white;
        color: $black;
        border-radius: 0;
        padding: 5vh 5vw;
        border: none;
        box-shadow: none;
        transition: visibility .3s linear, opacity .4s linear;
        hr{
          display: none;

        }
      }
      .modal-close{
        display: none;
      }
    }


    .btn-active{
      width: 75vw;
      height: 52vh;
      background-image: url(../img/motif_orange.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      cursor: default;
      transition: height .5s ease-in-out, width .5s ease-in-out;
      h2{
        font-size: 0em;
        transition: font-size .5s linear;
      }
      .modal-active{
        visibility: visible;
        position: relative;
        z-index: 99;
        opacity: 1;
        transition: visibility .3s linear, opacity .4s linear;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        h3{
          font-size: 2em;
          font-weight: bolder;
          letter-spacing: 1px;
        }
        hr{
          width: 60%;
          color: black;
          background: black;
          border: 1px solid black;
          display: block;
          margin-top: 0;
          margin-bottom: 2em;
        }
        p{
          text-align: justify;
        }

      }

      .modal-close{
        background-image: url(../img/close.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 5px;
      }

    }

    .modal-qsn{
      position: absolute;
      z-index: 2;
      background-color: $orange;
      color: white;
      height: 50vh;
      right: 0;
      margin-left: 10vw;
      margin-right: 10vw;
      display: inline-block;

      h2{
        font-size: 2em;
        text-align: center;
        padding: 5vh 0;
      }
      p{
        margin-left: 10vw;
        margin-right: 10vw;
        text-align: justify;
      }

    }
  }
}

#scrolldown{
  position: absolute;
  bottom: 2vh;
  // left: 50%;
  height: 50px;
  width: 25px;
  border: 2px solid $orange;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    position: absolute;
    top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: $orange;
  }
}

@media (min-width: 2000px){
  .section-qsn .bouton-action .bouton .modal-content{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2em;
  }
}


// SECTION ACCUEIL #1 END

// SECTION SERVICES #2 START

#services{
  position: relative;
  width: 100%;
  background: url(../img/Motif_gris.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  transition: all .4s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.content{
  position: absolute;
  z-index: 2;
  font-weight: bold;
  font-size: 2em;
  visibility: hidden;
}

.transbox{
  position: absolute;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height:100%;
}

.car, .img-slide{
  background-image: url(../img/car.jpg);
}

.orange:hover{
  transform: scale(0.95);
}

.orange:hover .content, .orange:hover .transbox{
  visibility: visible;
  transition: visibility .4s ease-in-out;
  color: #fff;
}

.container-margin{
  // margin: 10vh 10vw;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-margin .car-block{
  width: 50%;
  color: black;
}

.block-slide-active{
  opacity: 1!important;
  z-index: 2!important;
  background: url(../img/Motif_gris.jpg) no-repeat;
  background-size: cover;
  transition: opacity .2s linear, background .2s linear;
}

@media (min-width: 2000px){
  .block-slide{
    font-size: 1.2em;
    .half-block-slide{
     #closeBlockSlide{
      width: 50px;
      height: 50px;
    }
  }

}
}

.block-slide{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1; // à passer en +2 lors de l'anim
  transition: opacity .5s linear, background .5s linear;

  .half-block-slide{
    background-color: white;
    width: 50vw;
    height: 80vh;
    position: absolute;
    z-index:3;
    top: 0;
    // border: 1px solid black;
    margin: 10vh 12.5%;
    #closeBlockSlide{
      background-image: url(../img/close.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 5px;
    }
  }

  .half-block-left{
    left: 0;
    width: 22vw;
    margin-right: 0vw;
    left: -500px; // placement du block left hors champ

    #palmares_regles {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 85%;
      text-align: center;
      z-index: 9;
      padding: 15vh 0;
      margin-left: 2vw;
      display: flex;
      align-items: center;
    }

    #conteneur_regles {
      position: relative;
      // margin-top: 75px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .class-title{
        width: 100%;
        position: relative;
        cursor: pointer;
        left: 0.3vw;
        .conteneur-title{
          position: absolute;
          // top: -50%;
          top: 20%;
          width: 80%;
          color: rgba(241,149,0,0.6);
          margin-left: 12%;
          display: flex;
          font-size: 1em;
          letter-spacing: 1px;
          font-weight: normal;
          text-align: left;
        }

      }
    }

    #conteneur_regles::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5%;
      display: block;
      width: 1px;
      background: $orange;
    /* margin: -36px 12.5px; */
  }


  .link_regle {
    display: block;
    border: 1px solid orange;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    // margin: 32%;
    // margin-bottom: 15vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    // padding: 2px;
    background: #fff;
  }

  .active{
    .link_regle span {
      background: $orange;
    }
    .conteneur-title h3{
      font-weight: bolder!important;
      color: $orange;
      transition: font-weight .1s linear;
    }
  }

  .link_regle span {
    display: block;
    /* background: #FFF; */
    height: 16px;
    width: 18px;
    border-radius: 100%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    h2{
      color: $orange;
      margin-left: 50%;
    }
  }

}

@media (min-width: 2000px){

  .half-block-left{
    #conteneur_regles{
      .class-title{
        left: 0.6vw;
      }
    }
  }

    .half-block-right{
      .block-inside{
        .text-slide{
          .slide-inside{
            img{
                  height: 30vh!important;
            }
            .overflowscroll{
              p{
              font-size: 1.5em;
            }
            }
          }
        }
      }
    }

}

.half-block-right{
  padding: 5vh 2vw;
  right: -800px; // Placement du block right hors du champ
  // width: 51.5vw;
  width: 52.5vw;
  // height: 70vh;
  height: 80vh;

  .fa-times{
    color: $orange;
    position: absolute;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
  }

  .activity{
    display: flex!important;
  }

  .block-inside{
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: none;

    .img-slide{
      height: 100%;
      width: 0%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    // margin-top: 800px;
    opacity: 0;
  }

  .text-slide{
    height: 100%;
    width: 55%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    .slide-inside{
      margin-left: 500px;
      opacity: 0;
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      img{
        height: 20vh;
        width: auto;
        margin-bottom: 5vh;
      }
      .overflowscroll{
        overflow-y: scroll;
        height: 30vh;
        p{
          text-align: justify;
          line-height: 1.2em;
          margin-right: 15px;
        }
      }
      a:hover button{
        background-color: rgba(241,149,0,0.6);
      }
      a{
        color: $white;
        width: 100%;
        button{
          background-color: $orange;
          color: $white;
          border: none;
          width: 100%;
          height: 2.5em;
          margin-top: 10%;
        }

      }


    }

  }
}
}
}

// Customized Scrollbar
.overflowscroll::-webkit-scrollbar{
  width: 5px;
  height: 100%;
  background: $gris;
  border-radius: 10px;
}

.overflowscroll::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 10px;
}
// SECTION SERVICES #2 END

// SECTION CONTACT & MAP #3 START


#infos{
  width: 100vw;
  // display: flex;
  // justify-content: space-around;
  background: url(../img/Motif_gris.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;

  @media (min-width: 2000px){
    .contact{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .form-horizontal{
        width: 60%;
      }
    }

    .container-contact{
      .row{
        .contact{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .contact-title{
            h3{
              font-size: 4em!important;
            }
            a{
              p{
                font-size: 2em!important;
              }
            }
          }
          .form-group{
            .form-control{
             height: 3vh!important;
             font-size: 1.2em;
           }
           #message{
            height: 8vh!important;
            font-size: 1.2em;
          }
          #send{
            height: 3vh!important;
            font-size: 1.2em;
          }
        }
        .contact-phone{
          font-size: 3em;
          .ou{
            font-size: 3em;
          }
          .contactez-nous{
            font-size: 0.6em;
          }
        }
      }
    }
  }

}
.container-contact{
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 3vh;
  width: 75%;
    // margin-left: 10vw;
    // margin-right: 10vw;


    .row{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        // padding-top: 1em;
        padding-bottom: 1em;
        height: 100%;
        width: 40%;

        .contact-title{
          text-align: center;
          h3{
            color: #000;
            font-weight: bold;
            font-size: 1.5em;
            border-bottom: 2px solid $orange;
            margin: 1em 80px 0.2em 80px;
          }
          a{
            color: #000;
            p{
              margin-bottom: 0.5em;
              font-style: italic;
              letter-spacing: 2px;
              font-size: 0.8em;
            }
          }
        }
        .form-horizontal{
          width: 60%;

          .form-group{
            margin-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;


            .form-control{
              background-color: rgba(255,153,51,0.3);
              border: 1px solid transparent;

            }
            #message{
              background-color: rgba(230,230,230,0.3);
            }
            #send{
              width: 100%;
              background-color: $orange;
              border-color: transparent;
            }
          }
        }

        .contact-phone{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 1em;
          padding-bottom: 0.5em;
          .ou{
            color: rgba(255,153,51,0.3);
            font-size: 2em;
          }
          a{
            color: $orange;
            p{
              margin-top: 0.5em;
              margin-bottom: 0.2em;
            }
          }
        }
      }
      .map{
        height: 100%;
        background-color: #fff;
        padding: 20px;
        margin-left: 15px;
        width: 60%;
      }
    }
  }

}

.container-partners{
  height: 10vh;
  padding: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  // margin-left: 14vw;
  // margin-right: 14vw;
  width: 75%;



  .slideshow {
    width: 100%;
    height: 50px;
    background-color: #fff;
    overflow: hidden;
    border: 3px solid #fff;
    // position: absolute;
  // bottom: 8vh;
  // left: 12.5%;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 150%;
    height: 50px;
    padding:0; margin:0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
  }

  .slideshow li {
   float: left;
 }

}

.container-social{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  img{
    height:3vh;
  }
  #social-center{
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

// SECTION CONTACT & MAP #3 END
